<!-- Assignment 3, Natalia Solar -->
@model BookStore.Models.Book

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">

        Name: @Model.BookName
        <br />
        Author: @Model.AuthorName
        <br />
        Publisher: @Model.Publisher
        <br />
        Edition: @Model.Edition
        <br />
        Language: @Model.Language
        <br />
        ISBN: @Model.Isbn
        <br />
        Selling Price ($): @Model.SellingPrice
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
