<!-- Assignment 3, Natalia Solar -->
@model BookStore.Models.Person

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        First Name: @Model.FirstName
        <br />
        Last Name: @Model.LastName
        <br />
        Address: @Model.Address
        <br />
        PhoneNumber: @Model.PhoneNumber

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
